body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: darkgreen;
    text-align: left;
}

h2, h3{
    color: darkblue;
    text-shadow: 2px 2px 5px cadetblue;
}

.container {
    box-shadow: 2px 3px 5px black;
    border: 3px dotted black;
}

.borderImg {
    border: 3px dashed black;
}

ul li {
    color: darkviolet;
    font-size: 20px;
}

ul > li {
    color: darkred;
}

